<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<th:block th:insert="~{fragments/common :: head('타이틀 작성')}"></th:block>

</head>
<body>
	<nav th:replace="~{fragments/common :: header}"></nav>

    
    <!--  실제 작업할 영역 -->
    <div class="container border py-3 mt-3">
    <input type="hidden" id="id" th:value="${post.id}" />
    <div>
      <h3 th:text="${post.title}">게시물 제목</h3>
    </div>
    <div>
      <p><span th:utext="${post.content}">게시물 내용</span></p>
    </div>
    <div>
      <p>포스트 번호 : <span th:text="${post.id}">1</span></p>
      <p>작성자 : <span th:text="${post.user.username}">xxxx</span></p>
    </div>
    <hr>
    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <a th:href="@{|/post/updatePost/${post.id}|}" class="btn btn-warning">수정하기</a>
    <button id="btn-delete" class="btn btn-danger">삭제하기</button>
  </div>
    
    
	
	<div th:replace="~{fragments/common :: footer}"></div>
	<th:block th:insert="~{fragments/common :: scripts}"></th:block>
	<script src="/js/post.js"></script>
</body>
</html>